{% extends "base_cards.html" %}

{% block title %}
    Artisti
{% endblock %}

{% block css %}
    <link rel="stylesheet" 
    href="{{url_for('static',filename = 'base_cards.css')}}">
    <link rel="stylesheet" 
    href="{{url_for('static',filename = 'esibizioni.css')}}">
{% endblock %}

{% block content %}
    <main id="box-main">
        <!-- form filtri -->
        <section id="form-programmazione">
            <h4> ESIBIZIONI</h4>
            <hr>
            <div>
                <form class="modulo"action="/esibizioni" method="post" id="form_grid">
                    <div>
                        <label for="genere">Genere:</label>
                    </div>
                    <div>
                        <select name="genere" id="genere">
                            <option value="tutti" selected>
                                Tutti
                            </option>
                            {% for genere in p_generi %}
                                <option value="{{genere}}">
                                    {{genere}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="giorno" class="custom-file-label">Scegli una giorno:</label>
                    </div>
                    <div>
                        <select name="giorno" id="giorno">
                            <option value="tutti">
                                Tutti
                            </option>
                            {% for nome_giorno in p_nomi_giorni %}
                                <option value="{{nome_giorno[0]}}">
                                    {{nome_giorno[0]}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="palco">Palco:</label>
                    </div>
                    <div>
                        <select name="palco" id="palco">
                            <option value="tutti">
                                Tutti
                            </option>
                            {% for nome_palco in p_nomi_palchi %}
                                <option value="{{nome_palco[0]}}">
                                    {{nome_palco[0]}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-lg btn-orange">applica</button>
                    <button type="reset" class="btn btn-lg btn-orange">reset</button>
                </form>
            </div>
        </section>
        <!-- form filtri -->

        <!-- mostra programmazione -->
        <article id="cards-grid">
            {% for esibizione in p_esib %}
                {% if esibizione[7] == 1 %}
                    <div  class= "grid-element"  card="biglietto custom-card-bg">
                        <img  src="{{url_for('static',filename = esibizione[2])}}" class=" img-artista card-img-top" 
                        alt="img-artista">
                        <div class="card-body corpo custom-scrollbar">

                            <h5 class="card-title">
                                {{esibizione[1]}}
                            </h5>
                            <hr class= "custom">

                            <h6>
                                SI ESIBIRÀ AL:
                            </h6>
                            <p class="desc_artista custom-scrollbar">
                                {{esibizione[3]}}
                            </p>
                            <hr class= "custom">

                            <h6>
                                IL GIORNO:
                            </h6>
                            <p class="desc_artista custom-scrollbar">
                                {{esibizione[4]}}
                            </p>
                            <hr class= "custom">

                            <h6>
                                ALLE ORE:
                            </h6>
                            <p class="desc_artista custom-scrollbar">
                                {{esibizione[5]}}
                            </p>
                            <hr class= "custom">

                            <h6>
                                DURATA  :
                            </h6>
                            <p class="desc_artista custom-scrollbar">
                                60 min 
                            </p>
                            <hr class= "custom">

                            <h6>
                                GENERE:
                            </h6>
                            <p class="desc_artista custom-scrollbar">
                                {{esibizione[6]}}
                            </p>
                            <hr class= "custom">

                            <!--user.ruolo == organizzatore,user_id == creatore dell'esibizione, status esibizione == bozza -->
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </article>
   
         <!-- footer -->
        <footer id="footer" class="bg-dark text-white pt-5 pb-4">
        <div class="container text-md-left">
            <div class="row text-md-left">

            <!-- Colonna 1: Descrizione -->
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Burning Man - Coordinate sintetiche</h5>
                <p>
                     DMS: 40°45'13.83" N, 119°16'37.20" W
                </p>
                <p>
                    DD: 40.7864, −119.2770
                </p>
                <p>
                    Queste coordinate ti portano al centro di Black Rock City, ovvero il punto focale del festival (dove si trova il famoso "Man").
                </p>
                
            </div>

            <!-- Colonna 2: Link utili -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Link utili</h5>
                <p><a href="#" class="text-white text-decoration-none">Home</a></p>
                <p><a href="#" class="text-white text-decoration-none">Contatti</a></p>
                <p><a href="#" class="text-white text-decoration-none">Privacy Policy</a></p>
                <p><a href="#" class="text-white text-decoration-none">Termini</a></p>
            </div>

            <!-- Colonna 3: Social -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Seguici</h5>
                <a href="https://www.facebook.com/burningman/" class="text-white me-4"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/burningman/" class="text-white me-4"><i class="bi bi-instagram"></i></a>
                <a href="https://x.com/burningman" class="text-white me-4"><i class="bi bi-twitter-x"></i></a>
            </div>

            </div>

            <hr class="my-4 text-white">

            <!-- Copyright -->
            <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; Burning Man. Tutti i diritti riservati.</p>
            </div>
            </div>
        </div>
        </footer>
        <!-- footer -->
    </main>
{% endblock %}

